
.create-btn.is-primary {
  height: 38px;
  border: solid 1px #C00055 !important;
  border-radius: 5px;
  background: #FFFFFF !important;

  font-family: $family-primary;
  font-size: 14px;
  color: #C00055 !important;
  font-weight: 400;
  text-transform: uppercase;

  @include on-small-mobile {
    font-size: 12px;
  }

  &:focus,
  &:hover {
    background: #C00055 !important;
    color: #FFFFFF !important;
    box-shadow: none !important;
  }
}