
.document-tag-bar {

    font-weight: 400 !important;

    i {
       width: 12px;
       font-size: 14px;
       color: $almost-black;
       margin-right: 4px;
    }

    .is-bookmarked  i {
        color: $red-bookmark !important;
    }
    
    .is-bookmarked::after{
        padding-left: 4px;
        content: "favoris";
        color: $red-bookmark !important;
    }
    
    .is-published i{
        color: $blue-published !important;
    }
    
    .is-published::after {
        padding-left: 4px;
        content: "publié";
        color: $blue-published !important;
    }
    
    .is-locked i, .is-locked span {
        color: $gold-lock !important;
    }
    
    .is-locked::after {
        padding-left: 4px;
        content: "verrouillé";
        color: $gold-lock;
    }
    
    .badge-label {
        margin-left: 2px;
    }
}

