::v-deep {

  .table-wrapper {
    border-top: #CB2158 8px solid;
    padding-top: 15px;

    th {
      font-family: $family-secondary;
      font-size: 14px;
      font-weight: 500;
      color: #4A4A4A;
      text-transform: uppercase;
      border-bottom: 1px solid #fdb3cc;
      padding: 0 10px 10px 0 !important;

      /* En-tete "Lettre" (seconde colonne) calée tout à gauche, sur la première colonne du chevron */
      &:nth-child(2) {
        .th-wrap {
          transform: translateX(-40px);
        }
      }

      /* Lieux */
      &:nth-child(7),
      &:nth-child(8) {
        display: none;
      }

      .icon.button {
        width: 25px;
        height: 25px;
        border-radius: 4px;
        margin: 0 4px 10px 0 !important;
        padding: 0 !important;

        &.sort-index {
          background-color: #4A4A4A;
          font-family: $family-primary;
          font-size: 18px;
          color: #FFFFFF;
          text-align: center;
          font-weight: 700;
        }

        &.arrow-down::after,
        &.arrow-up::after {
          content: '';
          display: inline-block;
          width: 100%;
          height: 100%;
          background-size: cover;
          background-repeat: no-repeat;
          transform-origin: 50% 50%;
          background-image: url(#{$image-path}/icons/tri-fleche.svg);
        }

        &.arrow-down::after {
          transform: rotate(180deg);
        }

        &.arrows-alt-v::after {
          content: '';
          display: inline-block;
          width: 100%;
          height: 100%;
          background-size: cover;
          background-repeat: no-repeat;
          background-image: url(#{$image-path}/icons/tri-double-fleche.svg);
        }

        i {
          display: none;
        }

      }
    }


    tbody {

      td {
        vertical-align: middle;
        border-color: #fdb3cc;
        padding: 15px 15px 15px 0;

        /* Chevron */
        &:nth-child(1) {
          padding-left: 0;
          padding-right: 0;

          a {
            display: flex;
            align-items: center;

            span.icon {
              &::after {
                content: "";
                display: inline-block;
                width: 24px;
                height: 24px;
                background: url(#{$image-path}/icons/open_text.svg) center right / 18px auto no-repeat;
                transform-origin: 50% 50%;
                transform: rotate(-90deg);
              }

              &.opened::after {
                transform: rotate(0deg);
              }
            }
          }

          i {
            display: none;
          }
        }

        /* ID Lettre */
        &:nth-child(2) {
          padding-left: 0;
          padding-right: 0;

          .tag {
            background: none;
            font-family: $family-primary;
            font-size: 16px;
            font-weight: 400;
            color: #515151;
          }
        }

        /* Date lettre */
        &:nth-child(3) {
          color: #4A4A4A;
          font-weight: 500;
        }

        /* Titre */
        &:nth-child(4) {
          a {
            font-family: $family-secondary;
            font-size: 16px;
            color: #000000;
            font-weight: 600;
            line-height: 20px;

            &:hover {
              text-decoration: underline;
              text-decoration-style: dotted;
              text-underline-offset: 4px;
            }
          }
        }

        /* Expéditeur */
        &:nth-child(5) {
        }

        /* Destinataire(s) */
        &:nth-child(6) {
        }

        /* Lieu d'expédition */
        &:nth-child(7) {
          display: none;
        }

        /* Lieu de destination */
        &:nth-child(8) {
          display: none;
        }

      }

      tr.detail {
        background-color: #F8F8F8;

        .detail-container {
          padding: 20px 0;
          overflow: hidden;

          .document-page {

            .heading {
              display: flex;
              align-items: flex-end;
              gap: 4px;

              background: none;
              border: none;
              padding: 0;

              &::after {
                content: "";
                display: inline-block;
                border-bottom: 1px solid #D2D2D2;
                width: 100%;
                transform: translateY(-2px);
              }
            }

            .heading-content {
              font-family: $family-primary;
              font-size: 16px;
              line-height: 16px;
              color: #CB2158;
              font-weight: 600;
              letter-spacing: 0;
              text-transform: uppercase;
            }

            .document-section {
              font-family: $family-primary;
              font-size: 18px;
              line-height: 23px;
              color: #373737;
              padding-left: 40px;
              margin-bottom: 40px;

              &:first-child {
                border-bottom: solid 5px #FFFFFF;
              }

              &:last-child {
                margin-bottom: 0;
              }

              .document-section-content {
                margin-bottom: 20px;
              }

              /* Liste des témoins version preview (oeil seulement, colonnes inversées) */
              .witness-list {
                ul.list-group {
                  list-style-position: inside;

                  li.list-group-item {
                    padding: 0 !important;
                    border: none !important;
                    margin: 0 0 10px !important;

                    &:last-child {
                      margin-bottom: 0 !important;
                    }

                    .columns {
                      flex-direction: row-reverse !important;
                      gap: 10px;
                      margin: 0;

                      .column:first-child {
                        flex: calc( 100% - 40px ) 0 0 !important;
                        width: calc( 100% - 40px );
                      }

                      .column:last-child {
                        flex: 30px 0 0 !important;
                        width: 30px;
                      }

                      .column {
                        padding: 0 !important;

                        & > div > * {
                          display: inline-block;
                          margin-right: 5px;
                        }

                        .witness-actions {
                          .controls {
                            display: none !important;
                          }
                          .control {
                            margin: 0 !important;
                          }
                        }
                      }
                    }
                  }
                }
              }

            }
          }
        }
      }
    }
  }

  .is-inactive .table-wrapper {

    table, tbody {
      display: block;
    }

    thead {
      display: none;
    }
    tbody {

      tr:not(.detail) {
        display: grid;

        grid-template-columns: 120px auto auto auto;
        grid-template-rows: auto auto auto;
        grid-template-areas:
          "document-date document-title document-title document-title"
          "document-id document-sender document-location-origin document-detail-toggle"
          "document-id document-recipients document-location-destination  document-detail-toggle";

        padding-top: 15px;
        border-bottom: #CB2158 2px solid;

        &:first-of-type {
          padding-top: 0;
        }

        td {
          width: 100%;
          min-width: 0;
          border: none;
          padding: 0;
          text-align: left;

          font-family: $family-secondary;
          font-size: 16px;
          font-weight: 600;
          line-height: 20px;
          color: #000000;

          &:nth-child(1),
          &:nth-child(2),
          &:nth-child(5),
          &:nth-child(6),
          &:nth-child(7),
          &:nth-child(8) {
            padding: 15px 0;

            font-size: 16px;
            font-weight: 500;
            color: #000000;
          }

          &:nth-child(1),
          &:nth-child(2),
          &:nth-child(5),
          &:nth-child(7) {
            margin-top: 20px;
            border-top: 1px solid #dbdbdb;
          }

          &:nth-child(6),
          &:nth-child(8) {
            padding-top: 0;
          }

          &:nth-child(1)::before,
          &:nth-child(2)::before,
          &:nth-child(5)::before,
          &:nth-child(6)::before,
          &:nth-child(7)::before,
          &:nth-child(8)::before {
            font-family: $family-secondary;
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
            color: #6B6B6B;
            text-transform: uppercase;
          }

          /* Chevron */
          &:nth-child(1) {
            grid-area: document-detail-toggle;

            display: flex;
            justify-content: flex-end;
            align-items: center;
            padding-right: 30px;

            a {
              display: inline;
            }
          }

          /* ID Lettre */
          &:nth-child(2) {
            grid-area: document-id;

            &::before {
              content: "Lettre";
              display: block;
            }
          }

          /* Date lettre */
          &:nth-child(3) {
            grid-area: document-date;

            font-family: $family-primary;
            font-size: 22px;
            font-weight: 500;
            color: #6E6E6E;
          }

          /* Titre */
          &:nth-child(4) {
            grid-area: document-title;
            border-left: solid 6px #000000;
            max-width: 100% !important;
            padding-left: 20px;

            a {
              h2 {
                font-size: 22px;
                font-weight: 500;
                line-height: 1.2;
                color: #000000;
              }
            }
          }

          /* Expéditeur */
          &:nth-child(5) {
            grid-area: document-sender;

            &::before {
              content: "Expéditeur";
              display: block;
            }
          }

          /* Destinataire(s) */
          &:nth-child(6) {
            grid-area: document-recipients;

            &::before {
              content: "Destinataire";
              display: block;
            }
          }

          /* Lieu d'expédition */
          &:nth-child(7) {
            display: block;
            grid-area: document-location-origin;

            &::before {
              content: "Lieu d'expédition";
              display: block;
            }
          }

          /* Lieu de destination */
          &:nth-child(8) {
            display: block;
            grid-area: document-location-destination;

            &::before {
              content: "Lieu de destination";
              display: block;
            }
          }

        }
      }

      tr.detail {
        width: 100%;
      }
    }
  }

  .document-list-header {
    border-top: solid 1px #FDB3CC;
    border-bottom: solid 1px #C7C7C7;
    margin-bottom: 25px;

    .results-count {
      display: flex;
      align-items: center;
      gap: 10px;

      font-family: $family-primary;
      font-size: 14px;
      color: #6D7278;
      font-weight: 600;
      text-transform: uppercase;

      .total-count {
        font-size: 50px;
        color: #FF0052;
        text-align: center;
        font-weight: 700;
      }
    }
  }
}
