::v-deep {

  .table-mobile-sort {
    display: none !important;
  }

  .table-wrapper {
    border-top: #CB2158 8px solid;
    padding-top: 15px;

    table {
      width: 100% !important;
      border: none !important;

      thead {

        @include on-small-tablet {
          display: inline-block;
          width: calc( 100% - 40px ) !important;
          border-bottom: 1px solid #fdb3cc;
        }

        @include on-mobile {
          width: 100% !important;
        }

        tr {

          th {
            display: table-cell !important;
            font-family: $family-secondary;
            font-size: 14px;
            font-weight: 500;
            color: #4A4A4A;
            text-transform: uppercase;
            border-bottom: 1px solid #fdb3cc;
            padding: 0 10px 10px 0 !important;

            @include on-mobile {
              padding-right: 5px;
            }

            /* Flèche */
            &:nth-child(1) {
            }

            /* En-tete "Lettre" (seconde colonne) calée tout à gauche, sur la première colonne du chevron */
            &:nth-child(2) {
              .th-wrap {
                transform: translateX(-40px);

                &.is-numeric {
                  flex-direction: revert;
                  text-align: left;
                }
              }
            }

            /* Lieux */
            &:nth-child(7),
            &:nth-child(8) {
              grid-area: document-location-destination;
            }

            .icon.button {
              width: 25px;
              height: 25px;
              border-radius: 4px;
              margin: 0 4px 10px 0 !important;
              padding: 0 !important;

              &.sort-index {
                background-color: #4A4A4A;
                font-family: $family-primary;
                font-size: 18px;
                color: #FFFFFF;
                text-align: center;
                font-weight: 700;
              }

              &.arrow-down::after,
              &.arrow-up::after {
                content: '';
                display: inline-block;
                width: 100%;
                height: 100%;
                background-size: cover;
                background-repeat: no-repeat;
                transform-origin: 50% 50%;
                background-image: url(#{$image-path}/icons/tri-fleche.svg);
              }

              &.arrow-down::after {
                transform: rotate(180deg);
              }

              &.arrows-alt-v::after {
                content: '';
                display: inline-block;
                width: 100%;
                height: 100%;
                background-size: cover;
                background-repeat: no-repeat;
                background-image: url(#{$image-path}/icons/tri-double-fleche.svg);
              }

              i {
                display: none;
              }

            }
          }
        }
      }

      tbody {
        border: none !important;

        tr {

          &.detail {
            background-color: #F8F8F8 !important;
            margin-top: 0 !important;

            .detail-container {
              padding: 20px 0;
              overflow: hidden;

              @include on-mobile {
                padding-top: 0;
              }

              .document-page {

                .heading {
                  display: flex;
                  align-items: flex-end;
                  gap: 4px;

                  background: none;
                  border: none;
                  padding: 0;

                  &::after {
                    content: "";
                    display: inline-block;
                    border-bottom: 1px solid #D2D2D2;
                    width: 100%;
                    transform: translateY(-2px);
                  }
                }

                .heading-content {
                  font-family: $family-primary;
                  font-size: 16px;
                  line-height: 16px;
                  color: #CB2158;
                  font-weight: 600;
                  letter-spacing: 0;
                  text-transform: uppercase;

                  @include on-mobile {
                    font-size: 14px;
                  }
                }

                .document-section {
                  font-family: $family-primary;
                  font-size: $font-size-text-tablet;
                  line-height: 23px;
                  color: #373737;
                  padding-left: 40px;
                  padding-right: 40px;
                  margin-bottom: 40px;

                  @include on-mobile {
                    padding-left: 20px;
                    padding-right: 20px;
                    margin-bottom: 30px;
                    font-size: $font-size-text-mobile;
                    line-height: 1.28;
                  }

                  &:first-child {
                    border-bottom: solid 5px #FFFFFF;
                  }

                  &:last-child {
                    margin-bottom: 0;
                  }

                  .document-section-content {
                    margin-bottom: 20px;
                  }

                  /* Liste des témoins version preview (oeil seulement, colonnes inversées) */
                  .witness-list {
                    ul.list-group {
                      list-style-position: inside;

                      li.list-group-item {
                        padding: 0 !important;
                        border: none !important;
                        margin: 0 0 10px !important;

                        &:last-child {
                          margin-bottom: 0 !important;
                        }

                        .columns {
                          flex-direction: row-reverse !important;
                          gap: 10px;
                          margin: 0;

                          .column:first-child {
                            flex: calc( 100% - 40px ) 0 0 !important;
                            width: calc( 100% - 40px );
                          }

                          .column:last-child {
                            flex: 30px 0 0 !important;
                            width: 30px;
                          }

                          .column {
                            padding: 0 !important;

                            & > div > * {
                              display: inline-block;
                              margin-right: 5px;
                            }

                            .witness-actions {
                              .controls {
                                display: none !important;
                              }
                              .control {
                                margin: 0 !important;
                              }
                            }
                          }
                        }
                      }
                    }
                  }

                }
              }
            }
          }

          td {
            display: table-cell !important;
            vertical-align: middle;
            border-color: #fdb3cc;
            padding: 15px 15px 15px 0;
            text-align: left !important;

            &::before {
              display: none;
            }

            /* Chevron */
            &:nth-child(1) {
              grid-area: document-detail-toggle;

              padding-left: 0;
              padding-right: 0;

              a {
                display: flex;
                align-items: center;

                span.icon {
                  &::after {
                    content: "";
                    display: inline-block;
                    width: 24px;
                    height: 24px;
                    background: url(#{$image-path}/icons/open_text.svg) center right / 18px auto no-repeat;
                    transform-origin: 50% 50%;
                    transform: rotate(-90deg);
                  }

                  &.opened::after {
                    transform: rotate(0deg);
                  }
                }
              }

              i {
                display: none;
              }
            }

            /* ID Lettre */
            &:nth-child(2) {
              grid-area: document-id;

              padding-left: 0;
              padding-right: 0;

              .tag {
                background: none;
                font-family: $family-primary;
                font-size: 16px;
                font-weight: 400;
                color: #515151;

                @include on-mobile {
                  font-size: 14px;
                }
              }

            }

            /* Date lettre */
            &:nth-child(3) {
              grid-area: document-date;
              color: #4A4A4A;
              font-size: 16px;
              font-weight: 500;
              line-height: 20px;

              @include on-mobile {
                font-size: 14px;
                line-height: 25px;
              }
            }

            /* Titre */
            &:nth-child(4) {
              grid-area: document-title;

              a {
                font-family: $family-secondary;
                font-size: 16px;
                color: #000000;
                font-weight: 600;
                line-height: 20px;

                &:hover {
                  text-decoration: underline;
                  text-decoration-style: dotted;
                  text-underline-offset: 4px;
                }
              }
            }

            /* Expéditeur */
            &:nth-child(5) {
              grid-area: document-sender;
            }

            /* Destinataire(s) */
            &:nth-child(6) {
              grid-area: document-recipients;
            }

            /* Lieu d'expédition */
            &:nth-child(7) {
              grid-area: document-location-origin;
            }

            /* Lieu de destination */
            &:nth-child(8) {
            }
          }
       }
      }
    }
  }

  /* Table des locks */
  &.locks-table .table-wrapper {

    thead tr:not(:first-of-type) {
      .th-wrap {
        padding-top: 10px;
      }
    }

    th {
      &:nth-child(2) {
        .th-wrap {
          transform: translateX(-20px);
        }
      }
    }

    th, td {
      &:nth-child(7),
      &:nth-child(8) {
        display: table-cell !important;
      }
    }

    td:nth-child(2) {
      .tags {
        display: flex;
        justify-content: flex-end;
        position: relative;
        margin: 0;

        & > .tag:first-child {
          position: absolute;
          left: 0;
          min-width: 50px;
          text-align: left;
          margin-left: 10px;
        }
      }

    }

    .checkbox-cell {
      text-align: right;
      padding-right: 0 !important;

      label.b-checkbox.checkbox:not(.button) {
        margin-right: 0;
      }

    }
  }

  /* Version tableau */
  .is-active .table-wrapper {

    thead {
      tr {
        th {

          /* Les colonnes des Lieux sont masquées en mode tableau */
          &:nth-child(7),
          &:nth-child(8) {
            display: none !important;
          }

        }
      }
    }

    tbody {
      tr {
        td {

          /* Les colonnes des Lieux sont masquées en mode tableau */
          &:nth-child(7),
          &:nth-child(8) {
            display: none !important;
          }

        }
      }
    }

    @include on-small-tablet {

      thead {
        tr {
          border-bottom: 1px solid #fdb3cc;

          th {
            border-bottom: none;

            &:nth-child(4) {
              padding-right: 50px;
            }
          }
        }
      }

      tbody {

        tr:not(.detail) {
          display: grid !important;
          grid-template-columns: 30px 50px 100px auto;
          grid-template-rows: auto auto auto auto auto auto;
          grid-template-areas:
          "document-detail-toggle document-id document-date document-title"
          "document-detail-toggle document-id document-date document-sender"
          "document-detail-toggle document-id document-date document-recipients"
          "document-detail-toggle document-id document-date document-location-origin"
          "document-detail-toggle document-id document-date document-location-destination ";

          width: calc( 100vw - 20px );
          border-bottom: 1px solid #fdb3cc;
          box-shadow: none !important;
          padding: 10px 0;
          margin: 0 !important;

          &:last-child {
            border: none;
          }

          td {
            padding: 0 !important;
            border: none !important;

            /* Titre */
            &:nth-child(4) {
              margin-bottom: 10px;

              & > a,
              & > a > h2 {
                font-weight: 500 !important;
                color: #000000;
              }
            }

            &:nth-child(5):not(:empty)::before,
            &:nth-child(6):not(:empty)::before,
            &:nth-child(7):not(:empty)::before,
            &:nth-child(8):not(:empty)::before {
              content: attr(data-label);
              font-size: 14px;
              font-weight: normal !important;
              text-align: left !important;
              display: inline;
            }

            & > * {
              display: inline !important;
            }
          }

        }

        tr.detail {
          width: 100%;
          box-shadow: none !important;
          border-bottom: 1px solid #fdb3cc;
        }
      }
    }

    @include on-mobile {
      thead {
        tr {
          th {
            font-size: 12px;

            &:nth-child(4) {
              display: none !important;
            }
          }
        }
      }
    }

  }

  /* Version déplié */
  .is-inactive .table-wrapper {

    table, tbody {
      display: block;
    }

    thead {
      display: none;
    }
    tbody {

      tr:not(.detail) {
        display: grid;

        grid-template-columns: 120px calc(50% - 90px) calc(50% - 90px) 60px;
        grid-template-rows: auto auto auto;
        grid-template-areas:
          "document-date document-title document-title document-title"
          "document-id document-sender document-location-origin document-detail-toggle"
          "document-id document-recipients document-location-destination  document-detail-toggle";

        padding-top: 15px;
        border-bottom: #CB2158 2px solid;
        border-top: none !important;
        box-shadow: none !important;

        @include on-small-tablet {
          padding-top: 5px;
        }

        @include on-mobile {
          grid-template-columns: 70px auto auto 20px;
        }

        &:first-of-type {
          padding-top: 0;
          margin-top: 0 !important;
          margin-bottom: 0 !important;
        }

        td {
          display: block !important;
          width: 100%;
          min-width: 0;
          border: none !important;
          padding: 0;
          text-align: left;

          font-family: $family-secondary;
          font-size: 16px;
          font-weight: 600;
          line-height: 20px;
          color: #000000;

          &:nth-child(1),
          &:nth-child(2),
          &:nth-child(5),
          &:nth-child(6),
          &:nth-child(7),
          &:nth-child(8) {
            padding: 15px 0;

            font-size: 16px;
            font-weight: 500;
            color: #000000;

            @include on-mobile {
              font-size: 14px;
            }
          }

          &:nth-child(1),
          &:nth-child(2),
          &:nth-child(5),
          &:nth-child(7) {
            margin-top: 20px;
            border-top: 1px solid #dbdbdb;

            @include on-small-tablet {
              margin-top: 0;
            }
          }

          &:nth-child(6),
          &:nth-child(8) {
            padding-top: 0;
          }

          &:nth-child(1)::before,
          &:nth-child(2)::before,
          &:nth-child(5)::before,
          &:nth-child(6)::before,
          &:nth-child(7)::before,
          &:nth-child(8)::before {
            font-family: $family-secondary;
            font-size: 14px;
            font-weight: 400 !important;
            line-height: 20px;
            color: #6B6B6B !important;;
            text-transform: uppercase;
          }

          /* Chevron */
          &:nth-child(1) {
            display: flex !important;
            justify-content: flex-end;
            align-items: center;
            padding-right: 15px;

            @include on-mobile {
              padding: 0 !important;
              justify-content: center;
            }

            a {
              display: inline;
            }
          }

          /* ID Lettre */
          &:nth-child(2) {
            &::before {
              content: "Lettre";
              display: block;
            }
          }

          /* Date lettre */
          &:nth-child(3) {
            font-family: $family-primary;
            font-size: 22px;
            font-weight: 500;
            color: #6E6E6E;
            line-height: 1.2;
            text-align: left !important;

            @include on-small-tablet {
              padding-top: 2px;
              font-size: 18px;
            }

            @include on-mobile {
              font-size: 14px;
            }

            &::before {
              display: none;
            }
          }

          /* Titre */
          &:nth-child(4) {
            border-left: solid 6px #000000;
            max-width: 100% !important;
            padding-left: 20px;

            @include on-small-tablet {
              padding-left: 10px;
            }

            &::before {
              display: none;
            }

            a {
              h2 {
                font-size: 22px;
                font-weight: 500;
                line-height: 1.2;
                color: #000000;

                @include on-small-tablet {
                  font-size: 20px;
                }

                @include on-mobile {
                  font-size: 16px;
                }
              }
            }
          }

          /* Expéditeur */
          &:nth-child(5) {
            &::before {
              content: "Expéditeur";
              display: block;
            }
          }

          /* Destinataire(s) */
          &:nth-child(6) {
            &::before {
              content: "Destinataire";
              display: block;
            }
          }

          /* Lieu d'expédition */
          &:nth-child(7) {
            display: block;

            &::before {
              content: "Lieu d'expédition";
              display: block;
            }
          }

          /* Lieu de destination */
          &:nth-child(8) {
            display: block;

            &::before {
              content: "Lieu de destination";
              display: block;
            }
          }

        }
      }

      tr.detail {
        width: 100%;
        box-shadow: none !important;
        border-bottom: 1px solid #fdb3cc;
      }
    }
  }

  .document-list-header {
    border-top: solid 1px #FDB3CC;
    border-bottom: solid 1px #C7C7C7;
    margin-bottom: 25px;

    .results-count {
      display: flex;
      align-items: center;
      gap: 10px;

      font-family: $family-primary;
      font-size: 14px;
      color: #6D7278;
      font-weight: 600;
      text-transform: uppercase;

      .total-count {
        font-size: 50px;
        color: #FF0052;
        text-align: center;
        font-weight: 700;

        @include on-mobile {
          font-size: 30px;
        }
      }
    }
  }
}
