// Set your brand colors
$pink: #FA7C91;
$brown: #757763;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;
$white: #FFFFFF;
$almost-black: #4a4a4a;
$nice-grey: rgb(214, 214, 214);

$red-bookmark:  #9C1A1C;
$blue-published: #0066cc;
$gold-lock: #D39C00;

// Update Bulma's global variables
$grey-dark: $brown;
$grey-light: $beige-light;
$grey-lighter: $grey-light;

$nice-blue: #62959C;
$blue-dark: #596E79;
$primary: $nice-blue;

$light: #F0ECE3;
$coffee: $beige-light;  // #C7B198;
$coffee-light: $beige-lighter;
$warning: #FFC97C;
$danger: #F66E00;
$info: #AEDADD;
$white-ter: $coffee-light;


$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: $beige-lighter;
$control-border-width: 2px;
