// Update Bulma's global variables
$family-sans-serif: "Barlow", Helvetica, Arial, sans-serif;
$family-condensed-sans-serif: "Barlow Semi Condensed", Helvetica, Arial, sans-serif;
$family-monospace: "Sono", serif;
$bitter-family: "Bitter", sans-serif;


$family-primary: $family-sans-serif;
$family-secondary: $family-condensed-sans-serif;
$family-apptitle: $family-monospace;
