$container-max-width: 1180px;
$container-small-desktop-margin: 40px;
$container-tablet-margin: 20px;
$container-mobile-margin: 10px;

$info: 'black';
$font-size-base: 16px;
$line-height-base: 2rem;
$image-path: '~@/assets/images'

